<div class="page-header">
  <h1>
    Studies
    <a href="/studies/new" class="btn btn-lg btn-success">New Study</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "studies_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Title contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
      <%= f.label :subjects_firstname_cont, "Subject firstname contains" %>
      <%= f.text_field :subjects_firstname_cont, :class => "form-control", :placeholder => "Subject firstname contains" %>
    </div>

<div class="form-group">
      <%= f.label :datatype_datatype_cont, "Datatype datatype contains" %>
      <%= f.text_field :datatype_datatype_cont, :class => "form-control", :placeholder => "Datatype datatype contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/studies" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#studies_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Title</th>
        <th>Datatype</th>
        <th>Actions</th>
      </tr>

      <% @studies.each do |study| %>
      <tr>
        <td>
          <% if study.user.present? %>
            <a href="/users/<%= study.user.id %>">
              <%= study.user.email %>
            </a>
          <% end %>
        </td>
        <td><%= study.title %></td>
        <td>
          <% if study.datatype.present? %>
            <a href="/datatypes/<%= study.datatype.id %>">
              <%= study.datatype.datatype %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/studies/<%= study.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == study.user %>
            <a href="/studies/<%= study.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_study/<%= study.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @studies, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
