<div class="page-header">
  <h3>Datatype #<%= @datatype.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Datatype</dt>
      <dd><%= @datatype.datatype %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/datatypes" class="btn btn-primary">
        Back
      </a>
      <a href="/datatypes/<%= @datatype.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_datatype/<%= @datatype.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Datatype has many studies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Studies
      </li>

      <% @datatype.studies.each do |study| %>
        <li class="list-group-item">
          <a href="/studies/<%= study.id %>">
            <%= study.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/studies/<%= study.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/studies/<%= study.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_study/<%= study.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_study" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for datatype_id -->
      <input type="hidden" name="datatype_id" value="<%= @datatype.id %>">

      <button class="btn btn-block btn-success">
        Create Study
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Datatype has many records -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Records
      </li>

      <% @datatype.records.each do |record| %>
        <li class="list-group-item">
          <a href="/records/<%= record.id %>">
            <%= record.datetime %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/records/<%= record.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/records/<%= record.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_record/<%= record.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_record" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for datetime -->
      <div class="form-group">
        <label for="datetime" class="control-label">
          Datetime
        </label>

        <input type="text" id="datetime" name="datetime" placeholder="Datetime" class="form-control" value="">
      </div>

      <!-- Label and input for data -->
      <div class="form-group">
        <label for="data" class="control-label">
          Data
        </label>

        <textarea id="data" name="data" placeholder="Data" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for subject_id -->
      <div class="form-group">
        <label for="subject_id" class="control-label">
          Subject
        </label>

        <%= select_tag(:subject_id, options_from_collection_for_select(Subject.all, :id, :firstname), :class => "form-control") %>
      </div>

      <!-- Label and input for data_type_id -->
      <div class="form-group">
        <label for="data_type_id" class="control-label">
          Data type
        </label>

        <%= select_tag(:data_type_id, options_from_collection_for_select(Datatype.all, :id, :datatype), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Record
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
